*.pyc
.idea
.vscode
*/*.pyc
*/*/*.pyc
*/migrations/*
./src/static/*
/__pycache__
*/__pycache__/*
*/static/
.DS_Store
.env
**/.DS_Store
venv
src/db.sqlite3
src/api/migrations/*
src/jwtauth/migrations/*
*.sqlite3